/*--------------------------- HEAD STYLING--------------------------*/
body{
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  height: 80px;
  background: #ffffff;
  width:100%;
  position:relative;
  float:none;
  clear:both;
  position:fixed;
  z-index:5;
  top:0;
}
#logobox{
  position:relative;
  width:130px;
  padding:20px 80px;
  float:left;
}
#secimg{
  right:80px;
}
#logobox img{
  position:absolute
}
nav{
  float:right;
}
nav li{
  float:left;
  text-transform: capitalize;
  font-size: 16px;
  padding:10px 20px;
  list-style: none;
  font-weight: 700;
  color:#49393B;
}
/*---------------------------END HEAD STYLING--------------------------*/


/*---------------------------BANNER STYLING--------------------------*/
#hero{
  position: relative;
  height:550px;
  width:100%;
  background: url("Front_display_2.png");
  margin-top:80px;

}
#hero .innerfilm{
  position: absolute;
  height:550px;
  z-index: 2;
  width:100%;
  background: rgba(0,0,0,0.2);

}
.topPopUp{
  padding: 15px;
  text-align: center;
  background: #174A41;
  color:white;
  position: absolute;
  top:0;
  z-index: 1.5;
  width:calc(100% - 30px);
  font-size: 18px;
}
.hotlink{
  color:#d7c629;
}
#herotext{
  width:calc(100% - 200px);
  padding:100px;
  position: absolute;
  top:0;
  right:0;
  z-index: 1;
  height:350px;
  color:#ffffff;
}
#herotext h1{
  font-size: 50px;
  font-weight: bold;
}
#herotext h2{
  font-size: 40px;
  font-weight: bold;
}
 button{
  min-width: 140px;
  background: inherit;
  border-style: none;
  text-transform: capitalize;
  font-weight: 700;
  color:white;
  padding:10px 0;
}
 .inactive{
  border:2px solid white;
  
}
.active{
  border:2px solid #174A41;
  background: #174A41;
}


/*---------------------------END BANNER STYLING--------------------------*/


/*---------------------------VIDEO ADS STYLING--------------------------*/
#vidtext{
  max-height:250px;
  padding:70px 225px;
  width: calc(100% - 450px);
  text-align:center;
  color:#49393B;
}
#vid{
  height: 400px;
  width:100%;
  position:relative;
  background: #DDF5E2;
  
}
#vid #play{
  position: absolute;
  top:148px;
  right:calc(50% - 52px);
  width:60px;
  height:60px;
  border-radius: 50%;
  padding: 20px;
  border:2px solid #174A41;

}
#play img{
  margin-top:5px;
  margin-left:10px;
}
/*---------------------------END VIDEO ADS STYLING--------------------------*/


/*---------------------------FEATURES STYLING--------------------------*/
#feattab,#featbox{
  width:calc(100% - 210px);
  padding:105px;

}
#feattab table{
  max-height:215px;
  width:100%;
  color:white;
  background: #174A41;
  position:relative;
  padding-top:20px;
 
}
.undertext{
  font-weight: 600;
  line-height:70px;
}
.normal{
  position:relative;
}
.activetab span{
  color: #174A41;
  font-weight: 600;
}
.activetab{
  background:#ffffff;
  position:absolute;
  padding:30px 100px;
  top:-20px;
  left:-20px;
  box-shadow: 2px 4px 4px 2px #282c34;
}
#featbox h4,#featbox h2,p{
  color:#49393B;
}
#featbox p{
  font-weight: 500;
}
#featbox td{
  width:25%
}


#featbox div{
  height:337px;
  padding:5px;
  padding-top:50px;
  margin:10px;
  border-top:5px solid #D0D5DA;
  box-shadow: 1px 2px 2px 1px #282c34;
  width:calc(100% - 30px);

}
#featbox .activechoice{
  border-top:5px solid #174A41;
}
#threepick ,#threepick  table{
  width:100%;
  background: #174A41;
  border-spacing: 0;
  border-width: 0;
}
#threepick td{
  width:33.33333333333333%;
  margin:0;
  border-spacing: 0;
  border-width: 0;
}
#threepick div{
  height: 200px;
  background: #174A41;
  padding:150px 17px;
  width:calc(100% - 34px);
}
#threepick #fpick{
  background: #298473;
}
#threepick #spick{
  background: #206659;
}
#threepick #tpick{
  background: #174A41;
}

#threepick span{
  font-size: 32px;
line-height: 40px;
color:white;
}
/*---------------------------END FEATURES STYLING--------------------------*/

/*---------------------------FLEXING BOX STYLING--------------------------*/
.fnone{
  float:none;
  clear:both;
  width:100%;
}
.fleft{
  float:left;
}
.ftext{
  width:calc(50% - 140px);
  padding: 150px 70px;

}
.ftext div{
  height:300px;

}
.ftext h2,.ftext span{
  color:#49393B;
  text-align: justify;
}
.ftext span{
  font-size: 20px;
  font-weight: 500;
}
.fimg{
  height:631px;
  width:50%;
  
}

#f1{
  background: url(f1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#f2{
  background: url(f2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#f3{
  background: url(f3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#f4{
  background: url(f4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}




/*---------------------------END FLEXING BOX STYLING--------------------------*/


/*---------------------------SOCIAL BOX STYLING--------------------------*/
#socbar{
width:100%;
height: 150px;
background: #174A41;
}
#socbar img{
  padding:50px;
  height: 50px;
  margin: auto;
}
p{
  color:#000000;
}
#partnerimg img{
  width:70%;
}
#partnerimg h2{
  color:#49393B;
}
#feedback{
  background: #174A41;
}
#feedback table{
  width:100%;
}
#feedback td{
  width:25%;
}
#feedback div{
  width:calc(100% - 100px);
  height: 300px;
  padding:50px;
  color:white;
}
#feedback img{
  width: 100px;
}
#feedback span{
  margin-top:50px;
}
#bigbreak{
  width:100%;
  height:300px;
}
/*---------------------------END SOCIAL BOX STYLING--------------------------*/

#footcontain{
  height:300px;
  padding:50px;
  width:calc(100% - 100px);
  background: #174A41;
  color:white;
}
#subscribe,#quicklink{
  width:40%;
  padding-top:50px
}
#quicklink{
  width:60%;
}
#quicklink table{
  width:100%;
}
.fevertext{
  color:#D7C629;
}
#footcontain button{
  background: #D7C629;
  padding: 15px 0px;
  color: #174A41;
  text-transform: capitalize;
  border-radius:5px;
}
#subscribe input{
  padding:15px;
  border-radius:5px;
}





























.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

